.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display{
  font-size: 5em;
  margin-top: 0px;
  margin-bottom: 45px;

}

.btn-1{
  width: 150px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(63, 172, 227);
  border: none;
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}